<div class="hero-unit">
  <h1>Bienvenido</h1>
  <p>Gran DT Trelew</p>
  <p>
  	<% @participante = Participante.find(current_user.id) %>
    <% @equipo = Equipo.where(:participante_id => @participante.id).first %>
    <a class="btn btn-primary btn-large" href="<%=url_for "equipos"%>/<%=@equipo.id%>">
      ir a mi equipo
    </a>
  </p>
  <p align="center"><%=link_to image_tag("tactica.jpg")%></p>
</div>



