<div class="hero-unit">
  <h1>Bienvenido</h1>
  <p>Gran DT Trelew</p>
  <p>
    <a class="btn btn-primary btn-large">
      ir a mi equipo
    </a>
  </p>
  <p align="center"><%=link_to image_tag("tactica.jpg")%></p>
</div>



